{% extends "base_generic.html" %}

{% block content %}
{% load widget_tweaks %}

    {% if validlink %}
        <p>Please choose a new password</p>
        <form action="" method="post">
            {% csrf_token %}
            
            <div class="form-group">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">New password:</label>
                {% render_field form.new_password1 class="form-control" %}
            </div>

            <div class="form-group">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Confirm password:</label>
                {% render_field form.new_password2 class="form-control" %}
            </div>
                
            <button type="submit" class="btn btn-primary mt-2 mb-2">Reset Password</button>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>You have clicked an invalid link, please request a new one.</p>
    {% endif %}
{% endblock %}
