{% extends "base_generic.html" %}

{% block content %}
    {% if validlink %}
        <p>Please choose a new password</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change password"></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>You have clicked an invalid link, please request a new one.</p>
    {% endif %}
{% endblock %}
