{% extends "base_generic.html" %}

{% block content %}
    
    <h1>Insurance Claims ML System</h1>


    <div class="d-flex justify-content-center">
        <a class="btn btn-primary btn-lg m-2 w-100" href="{% url 'upload_model' %}"> Upload Model </a>
    </div>    
    <div>
        <h3 style="margin-top: 1em;">Available Models</h3>
        {% if success %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                {% for row in models %}
                    <tr>
                        <td>{{ row.name }}</td>
                        <td>{{ row.notes }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}
