{% extends "base_generic.html" %}

{% block content %}

    <h1> Upload model </h1>

    <div class="container">
        <form id="uploadModelForm" action="/api/upload-model/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="modelName">Model Name:</label>
                <input type="text" id="modelName" name="model_name" required>
            </div>
            <div class="form-group">
                <label for="modelNotes">Notes:</label>
                <textarea id="modelNotes" name="notes" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="modelFile">Model File (.pkl):</label>
                <input type="file" id="modelFile" name="model_file" accept=".pkl" required>
            </div>
            {% if upload_success %}
                <div id="successMessage" class="success-message" style="display: block;">{{message}}</div>
            {% elif error %}
                <div id="errorMessage" class="error-message" style="display: block;">{{message}}</div>
            {% endif %}
            <button type="submit">Upload Model</button>
        </form>
    </div>
{% endblock %}
